.fr-view ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.fr-view ul {
  list-style-type: disc;
  margin-left: 20px;
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
    }
  }
}
